.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;

  .countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    width: 100%;

    .event-name {
      font-weight: 800;
      color: #72035D;
      margin-bottom: 65px;
    }

    .countdown {
      font-weight: 400;
      color: #000;
    }
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;

    @media (max-width: 1024px) and (orientation: landscape) {
      width: 80%;
    }

    @media (orientation: portrait) {
      width: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .field-container {
        display: flex;
        flex-direction: row;

        @media (orientation: portrait) {
          flex-direction: column;
        }
      }

      mat-form-field {
        width: 100%;
        font-size: 14px;

        &:first-child {
          margin-right: 15px;
        }

        ::ng-deep {
          .mat-form-field .mat-form-field-infix input {
            line-height: 17px;
          }
          .mdc-text-field__input {
            height: 17px;
          }
          .mdc-text-field--focused {
            .mdc-floating-label {
              color: #72035D;
            }

            .mdc-notched-outline__leading,
            .mdc-notched-outline__trailing,
            .mdc-notched-outline__notch {
              border-color: #72035D;
            }

            .mdc-notched-outline__notch {
              border-left: none;
            }
          }
        }
      }
    }
  }
}
