<div class="content-wrapper">
  <div class="countdown-container">
    <div class="event-name" appFitText [maxFontSize]="67" [minFontSize]="10" [triggerResize]="eventName">
      Time to {{ eventName }}
    </div>
    <div class="countdown" appFitText [maxFontSize]="74" [minFontSize]="10" *ngIf="remainingTime" [triggerResize]="remainingTime">
      {{ remainingTime }}
    </div>
  </div>
  <div class="form-container">
    <form>
      <div class="field-container">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="Enter event" id="event-name" [(ngModel)]="eventName" name="eventName"
            (ngModelChange)="onInputChange()">
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Date</mat-label>
          <input matInput type="date" id="end-date" [(ngModel)]="endDate" name="endDate"
            (ngModelChange)="onInputChange()">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
